.left-section {
	min-width: 250px;
}
h5 {
	margin-bottom: 1.1rem;
	font-size: large;
}
.filter-section h6 {
	margin: 0.5rem 0;
}
.filter-section,
.cuisine-section,
.cost-section,
.sort-section,
.first-top-section,
.first-bottom-section {
	background-color: #fff;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
	padding: 0.7rem 1.5rem;
}
.filter-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.filter-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filter-container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filter-container input:checked ~ .checkmark {
	background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.filter-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.filter-container .checkmark:after {
	left: 7px;
	top: 2px;
	width: 6px;
	height: 13px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*                    For Custom Radio Buttons                    */
.filter-container-1,
.filter-container-2 {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 1rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.filter-container-1 input,
.filter-container-2 input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark-1,
.checkmark-2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.filter-container-1:hover input ~ .checkmark-1,
.filter-container-2:hover input ~ .checkmark-2 {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.filter-container-1 input:checked ~ .checkmark-1,
.filter-container-2 input:checked ~ .checkmark-2 {
	background-color: #000;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark-1:after,
.checkmark-2:after {
	content: '';
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.filter-container-1 input:checked ~ .checkmark-1:after,
.filter-container-2 input:checked ~ .checkmark-2:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.filter-container-1 .checkmark-1:after,
.filter-container-2 .checkmark-2:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
}
.right-section{
	margin-left: 1.5rem;
}

/*                   Restaurant section               */

@media screen and (max-width: 775px) {
	.rest-container {
		flex-direction: column;
	}
	.left-section {
		min-width: 280px;
		align-self: center;
	}
	.right-section {
		margin-top: 2rem;
		margin-left: 0;
	}
}
