@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

:root {
	--font-base: 'Poppins', sans-serif;
	--primary-color: #192f60;
	--secondary-color: #8c96ab;
	--black-color: #030303;
	--lightGray-color: #e4e4e4;
	--gray-color: #6b7688;
	--brown-color: #46364a;
	--white-color: #ffffff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	font-family: var(--font-base);
}
a {
	text-decoration: none;
}
button {
	cursor: pointer;
	border: none;
}
input {
	border: none;
}
